@import url("https://fonts.googleapis.com/css2?family=Copse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 14px;
}

h1,
h2 {
  font-family: "Courier Prime", monospace;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
  color: #fff;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background: rgba(200, 208, 184, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #7dc5e7;
  color: #fff;
  display: flex;
  align-items: center;
}

h3 {
  padding-top: 10px;
  font-size: 1.8rem;
  text-align: center;
}

#navbar ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#navbar ul li {
  font-family: "Copse", serif;
  font-size: 22px;
  display: inline;
  color: #000;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 80%;
  justify-content: center;
}

#projects {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.project-tile img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
}

.project-tile div {
  text-align: center;
  padding-top: 8px;
}

.button-row {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7dc5e7;
}

.btn {
  cursor: pointer;
  border: none;
  background: #00cc00;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding: 20px;
  border-radius: 8px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-mobile-alt {
  color: #ffe680;
}

.contact-me {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-me-heading {
  font-size: 2rem;
  font-family: "Courier Prime", monospace;
  text-align: center;
}

.contact-me-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  font-size: 1.5rem;
  width: 100%;
  justify-content: center;
  padding: 8px 0;
}
.row h4 {
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
}

footer {
  font-family: "Copse", serif;
  font-size: 1.2rem;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #7dc5e7;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#my_projects {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 924px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .project-tile div a {
    font-weight: 600;
    font-size: 1.3rem;
  }
}
@media (min-width: 2560px){
  .container {
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    width: 80%;
  }
  .project-tile div a {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .project-tile img {
    height: 500px;
  }

}
